//! **************************************************************************
// Written by: Map O.61xd on Thu Oct 18 13:58:44 2012
//! **************************************************************************

SCHEMATIC START;
COMP "UART_RXD" LOCATE = SITE "N17" LEVEL 1;
COMP "UART_TXD" LOCATE = SITE "N18" LEVEL 1;
COMP "CLK" LOCATE = SITE "V10" LEVEL 1;
COMP "SENSOR_VMT" LOCATE = SITE "C5" LEVEL 1;
COMP "SSEG_CA<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "SSEG_CA<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "SSEG_CA<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "SSEG_CA<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "SSEG_CA<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "SSEG_CA<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "SSEG_CA<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "SSEG_CA<7>" LOCATE = SITE "M13" LEVEL 1;
COMP "SSEG_AN<0>" LOCATE = SITE "P17" LEVEL 1;
COMP "SSEG_AN<1>" LOCATE = SITE "P18" LEVEL 1;
COMP "SSEG_AN<2>" LOCATE = SITE "N15" LEVEL 1;
COMP "SSEG_AN<3>" LOCATE = SITE "N16" LEVEL 1;
COMP "SW<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "SW<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "SW<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "SW<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "SW<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "SW<5>" LOCATE = SITE "U8" LEVEL 1;
COMP "SW<6>" LOCATE = SITE "V8" LEVEL 1;
COMP "SW<7>" LOCATE = SITE "T5" LEVEL 1;
COMP "ETH_RST" LOCATE = SITE "P3" LEVEL 1;
COMP "DAC_LD" LOCATE = SITE "L4" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "BTN<0>" LOCATE = SITE "D9" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "BTN<1>" LOCATE = SITE "C9" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "BTN<2>" LOCATE = SITE "C4" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "BTN<3>" LOCATE = SITE "A8" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "BTN<4>" LOCATE = SITE "B8" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "ADC_IN<0>" LOCATE = SITE "E12" LEVEL 1;
COMP "ADC_IN<1>" LOCATE = SITE "F11" LEVEL 1;
COMP "ADC_IN<2>" LOCATE = SITE "F12" LEVEL 1;
COMP "ADC_IN<3>" LOCATE = SITE "F10" LEVEL 1;
COMP "ADC_IN<4>" LOCATE = SITE "C12" LEVEL 1;
COMP "ADC_IN<5>" LOCATE = SITE "G11" LEVEL 1;
COMP "ADC_IN<6>" LOCATE = SITE "D12" LEVEL 1;
COMP "ADC_IN<7>" LOCATE = SITE "G3" LEVEL 1;
COMP "ADC_IN<8>" LOCATE = SITE "F2" LEVEL 1;
COMP "ADC_IN<9>" LOCATE = SITE "K6" LEVEL 1;
COMP "MUX<0>" LOCATE = SITE "T12" LEVEL 1;
COMP "MUX<1>" LOCATE = SITE "M10" LEVEL 1;
COMP "MUX<2>" LOCATE = SITE "V12" LEVEL 1;
COMP "MUX<3>" LOCATE = SITE "N9" LEVEL 1;
COMP "MUX<4>" LOCATE = SITE "N10" LEVEL 1;
COMP "ETH_RXD<0>" LOCATE = SITE "P1" LEVEL 1;
COMP "ETH_RXD<1>" LOCATE = SITE "N2" LEVEL 1;
COMP "ETH_RXD<2>" LOCATE = SITE "N1" LEVEL 1;
COMP "ETH_RXD<3>" LOCATE = SITE "M3" LEVEL 1;
COMP "ETH_TXD<0>" LOCATE = SITE "U2" LEVEL 1;
COMP "ETH_TXD<1>" LOCATE = SITE "U1" LEVEL 1;
COMP "ETH_TXD<2>" LOCATE = SITE "T2" LEVEL 1;
COMP "ETH_TXD<3>" LOCATE = SITE "T1" LEVEL 1;
COMP "ETH_RX_CLK" LOCATE = SITE "H4" LEVEL 1;
COMP "ETH_TX_CLK" LOCATE = SITE "L5" LEVEL 1;
COMP "DAC_SDI1" LOCATE = SITE "K1" LEVEL 1;
COMP "DAC_SDI2" LOCATE = SITE "L3" LEVEL 1;
COMP "ETH_TXD_4" LOCATE = SITE "P2" LEVEL 1;
COMP "ETH_RX_DV" LOCATE = SITE "L1" LEVEL 1;
COMP "ADC_CLK" LOCATE = SITE "E11" LEVEL 1;
COMP "ETH_TX_EN" LOCATE = SITE "L2" LEVEL 1;
COMP "DAC_CLK" LOCATE = SITE "K2" LEVEL 1;
COMP "ETH_MDIO" LOCATE = SITE "L6" LEVEL 1;
COMP "ODOM_CLK" LOCATE = SITE "B2" LEVEL 1;
COMP "ODOM_DIR" LOCATE = SITE "D6" LEVEL 1;
COMP "ETH_MDC" LOCATE = SITE "M5" LEVEL 1;
COMP "ADC_IN<10>" LOCATE = SITE "J6" LEVEL 1;
COMP "ADC_IN<11>" LOCATE = SITE "L7" LEVEL 1;
SCHEMATIC END;

