Net LED<7> LOC=T11  |  IOSTANDARD=LVCMOS33;
Net LED<6> LOC=R11  |  IOSTANDARD=LVCMOS33;
Net LED<5> LOC=N11  |  IOSTANDARD=LVCMOS33;
Net LED<4> LOC=M11  |  IOSTANDARD=LVCMOS33;
Net LED<3> LOC=V15  |  IOSTANDARD=LVCMOS33;
Net LED<2> LOC=U15  |  IOSTANDARD=LVCMOS33;
Net LED<1> LOC=V16  |  IOSTANDARD=LVCMOS33;
Net LED<0> LOC=U16  |  IOSTANDARD=LVCMOS33;

Net BTN<0> LOC=D9  |  IOSTANDARD=LVCMOS33;
Net BTN<1> LOC=C9  |  IOSTANDARD=LVCMOS33;
Net BTN<2> LOC=C4  |  IOSTANDARD=LVCMOS33;
Net BTN<3> LOC=A8  |  IOSTANDARD=LVCMOS33;
Net BTN<4> LOC=B8  |  IOSTANDARD=LVCMOS33;

Net SW<0> LOC=T10  |  IOSTANDARD=LVCMOS33;
Net SW<1> LOC=T9   |  IOSTANDARD=LVCMOS33;
Net SW<2> LOC=V9   |  IOSTANDARD=LVCMOS33;
Net SW<3> LOC=M8   |  IOSTANDARD=LVCMOS33;
Net SW<4> LOC=N8   |  IOSTANDARD=LVCMOS33;
Net SW<5> LOC=U8   |  IOSTANDARD=LVCMOS33;
Net SW<6> LOC=V8   |  IOSTANDARD=LVCMOS33;
Net SW<7> LOC=T5   |  IOSTANDARD=LVCMOS33;

Net SSEG_CA<0> LOC=T17  |  IOSTANDARD=LVCMOS33;
Net SSEG_CA<1> LOC=T18  |  IOSTANDARD=LVCMOS33;
Net SSEG_CA<2> LOC=U17  |  IOSTANDARD=LVCMOS33;
Net SSEG_CA<3> LOC=U18  |  IOSTANDARD=LVCMOS33;
Net SSEG_CA<4> LOC=M14  |  IOSTANDARD=LVCMOS33;
Net SSEG_CA<5> LOC=N14  |  IOSTANDARD=LVCMOS33;
Net SSEG_CA<6> LOC=L14  |  IOSTANDARD=LVCMOS33;
Net SSEG_CA<7> LOC=M13  |  IOSTANDARD=LVCMOS33;

Net SSEG_AN<0> LOC=P17  |  IOSTANDARD=LVCMOS33;
Net SSEG_AN<1> LOC=P18  |  IOSTANDARD=LVCMOS33;
Net SSEG_AN<2> LOC=N15  |  IOSTANDARD=LVCMOS33;
Net SSEG_AN<3> LOC=N16  |  IOSTANDARD=LVCMOS33;

Net UART_RXD LOC=N17  	|  IOSTANDARD=LVCMOS33;
Net UART_TXD LOC=N18  	|  IOSTANDARD=LVCMOS33;

Net CLK LOC=V10  			|  IOSTANDARD=LVCMOS33;

Net ADC_IN<11> LOC=L7  	|  IOSTANDARD=LVCMOS33;
Net ADC_IN<10> LOC=J6  	|  IOSTANDARD=LVCMOS33;
Net ADC_IN<9> LOC=K6  	|  IOSTANDARD=LVCMOS33;
Net ADC_IN<8> LOC=F2  	|  IOSTANDARD=LVCMOS33;
Net ADC_IN<7> LOC=G3  	|  IOSTANDARD=LVCMOS33;

Net ADC_IN<6> LOC=D12  	|  IOSTANDARD=LVCMOS33; 
Net ADC_IN<5> LOC=G11  	|  IOSTANDARD=LVCMOS33;
Net ADC_IN<4> LOC=C12  	|  IOSTANDARD=LVCMOS33; 
Net ADC_IN<3> LOC=F10  	|  IOSTANDARD=LVCMOS33; 
Net ADC_IN<2> LOC=F12  	|  IOSTANDARD=LVCMOS33;
Net ADC_IN<1> LOC=F11  	|  IOSTANDARD=LVCMOS33; 
Net ADC_IN<0> LOC=E12  	|  IOSTANDARD=LVCMOS33;
Net ADC_CLK   LOC=E11  	|  IOSTANDARD=LVCMOS33;

Net DAC_CLK	  LOC=K2   	|  IOSTANDARD=LVCMOS33; 
Net DAC_SDI1  LOC=K1   	|  IOSTANDARD=LVCMOS33;
Net DAC_LD	  LOC=L4   	|  IOSTANDARD=LVCMOS33;
Net DAC_SDI2  LOC=L3   	|  IOSTANDARD=LVCMOS33;

Net MUX<0>	  LOC=T12  	|  IOSTANDARD=LVCMOS33;
Net MUX<1>    LOC=M10  	|  IOSTANDARD=LVCMOS33;
Net MUX<2>    LOC=V12  	|  IOSTANDARD=LVCMOS33;
Net MUX<3>    LOC=N9  	|  IOSTANDARD=LVCMOS33;
Net MUX<4>    LOC=N10  	|  IOSTANDARD=LVCMOS33;


Net ETH_RST 	LOC=P3  	|  IOSTANDARD=LVCMOS33;
Net ETH_TXD<0> LOC=U2  	|  IOSTANDARD=LVCMOS33;
Net ETH_TXD<1> LOC=U1  	|  IOSTANDARD=LVCMOS33;
Net ETH_TXD<2> LOC=T2  	|  IOSTANDARD=LVCMOS33;
Net ETH_TXD<3> LOC=T1  	|  IOSTANDARD=LVCMOS33;
Net ETH_TXD_4  LOC=P2  	|  IOSTANDARD=LVCMOS33;
Net ETH_TX_CLK LOC=L5  	|  IOSTANDARD=LVCMOS33;
Net ETH_TX_EN 	LOC=L2  	|  IOSTANDARD=LVCMOS33;
//Net ETH_COL		LOC=P4	|	IOSTANDARD=LVCMOS33;

Net ETH_RX_CLK LOC=H4  	|  IOSTANDARD=LVCMOS33;
Net ETH_RX_DV 	LOC=L1  	|  IOSTANDARD=LVCMOS33;
Net ETH_RXD<0> LOC=P1  	|  IOSTANDARD=LVCMOS33;
Net ETH_RXD<1> LOC=N2  	|  IOSTANDARD=LVCMOS33;
Net ETH_RXD<2> LOC=N1  	|  IOSTANDARD=LVCMOS33;
Net ETH_RXD<3> LOC=M3  	|  IOSTANDARD=LVCMOS33;

Net ETH_MDIO LOC=L6 	  	|  IOSTANDARD=LVCMOS33;
Net ETH_MDC	 LOC=M5    	|  IOSTANDARD=LVCMOS33;

Net ODOM_CLK	 LOC=B2	|  IOSTANDARD=LVCMOS33;
Net ODOM_DIR	 LOC=D6	|  IOSTANDARD=LVCMOS33;
Net SENSOR_VMT	 LOC=C5	|  IOSTANDARD=LVCMOS33;

//Net JB1_JB1		LOC=K2  |  IOSTANDARD=LVCMOS33;
//Net JB1_JB2		LOC=K1  |  IOSTANDARD=LVCMOS33;